
body {
    /* color pallet */
    background-color: #504d4d;
    /* .first-color { 
        background: #504d4d; 
    }
        
    .second-color { 
        background: #646363; 
    }
    
    .third-color { 
        background: #f5b316; 
    }
    
    .fourth-color { 
        background: #e7e5e5; 
    } */
}