
@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    /* color pallet */
    background: #F5B316;
    background: radial-gradient(circle, rgba(245, 179, 22, 1) 10%, rgba(82, 82, 82, 1) 100%);
    font-family: 'Quantico', sans-serif;
}

.header {
    text-align: center;
    padding-top: 30px;
    font-size: 50px;
    color: white;
}

.calculatorBox {
    background-color: #646363;
    margin: 40px auto; 
    width: 400px;
    height: 600px;
    padding-top: 50px;
    border: solid 4px #3e3d3d;
}

.resultsBox {
    background-color: #adacac;
    margin: 0 auto;
    width: 350px;
    height: 100px;
    border: solid 4px #3e3d3d;
}

.resultText {
    text-align: right;
    padding-top: 25px;
    padding-right: 18px;
    font-size: 60px;
    color: white;
}

.calcBtns {
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: 0 auto;
    width: fit-content;
}

.calcBtns button {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
    font-family: 'Quantico', sans-serif;
    color: white;
    font-weight: 800;
    font-size: 25px;
}

.clear {
    grid-column: 3;
    background-color: #f5b316;
}

.clear:hover {
    background-color: #b68410;
}

.delete {
    grid-column: 4;
    background-color: #7a7777;
}

.delete:hover {
    background-color: #525252;
}

.number {
    background-color: #c2c0c0;
}

.number:hover {
    background-color: #918f8f;
}

.operator {
    background-color: #7a7777;
}

.operator:hover {
    background-color: #525252;
}

.equals {
    background-color: #7a7777;
}

.equals:hover {
    background-color: #525252;
}

/* FOOTER */
.footer {
    text-align: center;
    color: #F9FAF8;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}